// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#fff;// 子菜单选中颜色 //https://github.com/ElemeFE/element/issues/12951
//$subMenuActiveText:#f4f4f5;
$menuBg: #041e38;//#304156; // 左侧 菜单 背景颜色
$menuHover:#263445; // 主菜单hover背景颜色

$subMenuBg:#000c17;//#1f2d3d; // 子菜单默认背景颜色
$subMenuHover:#000;//#001528; // 子菜单hover颜色

$sideBarWidth: 210px; // 左侧菜单宽度

$subMenuActiveBg:#1890ff;// 子菜单选中背景颜色

$menuLogoBg: #1890ff; // logo背景颜色
$menuLogoText: #ffffff; // logo字体颜色

  // the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  subMenuActiveBg: $subMenuActiveBg;
  menuLogoBg: $menuLogoBg;
  menuLogoText: $menuLogoText;
}
